@using UI.Controllers
@model DefaultViewModel

<br />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="list-group">
                    @if (Model.Contents is not null)
                    {
                        @foreach (var item in Model.Contents)
                        {
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col px-4">
                                        <div>
                                            <div class="float-right">@item.Writer.WriterName @item.Writer.WriterSurName</div><br />
                                            <div class="float-right">@item.ContentDate</div>
                                            <h3>@item.Heading.HeadingName</h3>
                                            <p class="mb-0">@item.ContentValue</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div><br /></div>
    </div>
</section>
