@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core

@using EntityLayer.Concrete
@model X.PagedList.IPagedList<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="container-fluid">
    <a class="btn btn-info" href="/AdminCategory/AddCategory">Kategori Ekle</a>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Kategoriler</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Kategori Adı</th>
                                <th>Açıklama</th>
                                <th style="width: 40px">Durum</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var category in Model)
                            {
                                <tr>
                                    <th>@category.CategoryId</th>
                                    <td>@category.CategoryName</td>
                                    <td>@category.CategoryDescription</td>
                                    <td><span class="badge @(category.CategoryStatus == true ? "bg-success" : "bg-danger") ">@category.CategoryStatus</span></td>
                                    <td>
                                        <a href="/AdminCategory/DeleteCategory/@category.CategoryId" class="btn btn-danger btn-sm">Sil</a> |
                                        <a href="/AdminCategory/EditCategory/@category.CategoryId" class="btn btn-warning btn-sm">Güncelle</a>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>


<!-- Pagination -->
<div class="pagination-container">
    @Html.PagedListPager((IPagedList)Model,
            page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new List<string> { "pagination", "justify-content-center" },
        LiElementClasses = new[] { "page-item", "page-link", (Convert.ToString(ViewBag.page) == Url.Action("page") ? "active" : "") },
        LinkToPreviousPageFormat = "Önceki",
        LinkToNextPageFormat = "Sonraki",
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
    })
</div>
